.suggest {
  position: relative;
  color:red;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  width: 500px;
  height: 333px;
  border: 1px solid #999;
  box-shadow: 10px 10px 5px #888888;
  background: url('./assets/hb.jpg')

}